.root {
  width: 320px;
  margin-bottom: 2px;
  position: sticky;
  top: 90px;
  margin-left: 40px;

  h3 {
    display: flex;
    align-items: center;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 30px;
    cursor: pointer;

    svg {
      width: 22px;
      height: 22px;
      margin-left: 8px;
    }
  }
}

.rotated {
  width: 100px;
  transform: rotate(-90deg) translateX(-50px);
  transform-origin: right;

  svg {
    transform: rotate(270deg);
  }
}

.commentItem {
  margin-bottom: 25px;
  word-break: break-all;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  a {
    color: rgb(46, 163, 192);
    font-style: italic;
    text-decoration: underline;
    &:hover {
      color: #000000;
    }
  }
}

.userInfo {
  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    // margin-right: 12px;
  }

  b {
    margin-left: 10px;
  }
}

.text {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.postTitle {
  font-size: 15px;
  font-weight: 500;
}
